*.php~
instalacje.txt
/.sass-cache/
/node_modules/
/vendor/
/web/
/tests/
/nbproject/
/materialy/
/app/config/parameters.yml
/src/CSS_JS/dist/
/src/CSS_JS/sass/
/src/CSS_JS/assets/
/src/AppBundle/CSS_JS/dist/
/src/AppBundle/Resources/public/
/tmp/
/var/logs/
/var/cache/
/var/sessions/