    <div class="row-blocks">
        <div class="col-12">
          {{form_row(form.title)}}  
        </div>
    </div>    
    <div class="row-blocks">
        <div class="col-12">
          {{form_row(form.value)}}  
        </div>
    </div>    
    <div class="row-blocks">
        <div class="col-12">
          {{form_row(form.description)}}  
        </div>
    </div>    


