<div class="row-blocks">
    <div class="col-12">
        {{form_row(form.name)}}
    </div>
</div>
<div class="row-blocks">
    <div class="col-12">
        {{form_row(form.value)}}
    </div>
</div>
<div class="row-blocks">
    <div class="col-12">
        {{form_row(form.description)}}
    </div>
</div>