<div class="row-blocks">
    <div class="col-9">
        {{form_row(form.name)}}
    </div>
    <div class="col-3">
        {{form_row(form.code)}}
    </div>
</div>
<div class="row-blocks">
    <div class="col-8">
        {{form_row(form.description)}}
    </div>
</div>